@using APW.Models

@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Product Page";
    var productos = Model.ToList();
    int indice = 0;                  // se usa para el while y mod
    decimal totalAcumulado = 0;      // para limitar la suma
    decimal limite = 500;
}

@functions {
    public string EvaluarPar(int indice)
    {
        if (indice % 2 == 0)
        {
            return "blue";
        }
        else
        {
            return "red";
        }
    }
}

@functions {
    public string EvaluarPrecio(decimal price)
    {
        if (price > 5)
        {
            return "Producto caro";
        }
        else if (price > 4)
        {
            return "Economico";
        }
        else
        {
            return "Producto barato";
        }
    }
}


<div class="text-center">
    <h3>Productos del while</h3>

    @while (indice < productos.Count && totalAcumulado <= limite)
    {
        var producto = productos[indice];
        totalAcumulado += producto.Price;

        <p style="color:@EvaluarPar(indice)">
            @producto.Name - $@producto.Price
        </p>

        indice++;
    }

    <hr />
 
    @foreach (var product in productos)
    {
        <div class="product-item">
            <h2>@product.Id - @product.Name</h2>

            <p>@EvaluarPrecio(product.Price)</p>

            <p style="color:@EvaluarPar(productos.IndexOf(product))">
                Price: @product.Price.ToString("C", new System.Globalization.CultureInfo("es-CR"))
            </p>

            @switch (product.CategoryName)
            {
                case "Beveragesop - v6":
                    <span>Beveragesop - v6</span>
                    break;

                case "Food - v2":
                    <span>Food - v2</span>
                    break;

                case "Snacks":
                    <span>Snacks</span>
                    break;

                case "Dairy":
                    <span>Dairy</span>
                    break;

                case "Electronics":
                    <span>Electronics</span>
                    break;

                default:
                    <span>Otra categoria</span>
                    break;
            }

        </div>
    }
</div>